.img-responsive {
    display: block;
    max-width: 100%;
    height: 430px;
}
.sheet .text-secondary {
    color: #6a6a6a;
    line-height: 1.8;
}
.return {
    font-weight: 500;
    font-size: 20px;
    border: none;
    top: 32px;
    color: #23527c;

}
.userinfo {
    font-weight: 500;
    border: none;
    font-size: 20px;
    top: 32px;
    color: #23527c;
}

.bookinfo {
    top: 100px;
}

.table-responsive th {
    width: 10%;
}